<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

<body>
  
   <div class="container">
    <div class="header">
    <a href="#default" class="logo">Varshini Prasanna</a>
    <div class="header-right">
      <a  href="/about">About</a>
      <a href="/projects">Projects</a>
      <a href="/news">News</a>
      <a href="/skills">Skills</a>
      <a href="/contact">Contact</a>
    </div>
    </div>
    <router-outlet></router-outlet>
  </div>
  
  </body>
  </html>