<html>
    <body>
        <br><br>
        <br><br>
    <div class="polaroid-container">
        <div class="polaroid">
            <img src="../../../assets/TA1.webp" alt="DSA" style="width:100%; height:65%">
            <div class="container">
              <p>Teaching associate, Introduction to DSA</p>
              <i>Under Dr.Dhanyu Amarasinghe</i>
            </div>
            </div>
            <div class="polaroid">
                <img src="../../../assets/TA2.png" alt="DSA" style="width:100%; height:65%">
                <div class="container">
                  <p>Teaching associate, Introduction to DSA</p>
                  <i>Under Dr.Marc Herdman</i>
                </div>
                </div>
                <div class="polaroid">
                    <img src="../../../assets/TA3.jpg" alt="DSA" style="width:100%; height:65%">
                    <div class="container">
                      <p>Teaching associate, Introduction to CPP</p>
                      <i>Under Dr.David Ruby</i>
                    </div>
                    </div>
        <div class="polaroid">
          <img src="../../../assets/CSU.jpg" alt="Norway" style="width:100%;height:65%">
          <div class="container">
            <p>Masters in computer science, CSU, Fresno State</p>
          </div>
          </div>
          <div class="polaroid">
            <img src="../../../assets/accenture1.jpg" alt="SIT" style="width:100%; height:65%">
            <div class="container">
              <p>FullStack Engineering Senior Analyst, Bengaluru</p>
            </div>
          </div>
          <div class="polaroid">
            <img src="../../../assets/accenture2.avif" alt="SIT" style="width:100%; height:65%">
            <div class="container">
              <p>FullStack Engineering Analyst, Bengaluru</p>
            </div>
          </div>
          <div class="polaroid">
            <img src="../../../assets/Journal.jpg" alt="SIT" style="width:100%; height:65%">
            <div class="container">
              <p>Published Paper on Companion Chatbots For Dementia Patients, IJAST</p>
            </div>
          </div>
          <div class="polaroid">
          <img src="../../../assets/SIT.png" alt="SIT" style="width:100%; height:65%">
          <div class="container">
            <p>Bachelors in Information Science and Engineering, SIT, Tumakuru</p>
          </div>
        </div>
        </div>
        </body>
</html>
