<!DOCTYPE html>
<html>
<head>
</head>
<body>

    <br><br>

    <p><b>I bring extensive experience and a diverse skill set essential for success.</b></p>

    <div class="grid-container">
        <div class="image-container">
            <img src="../../../assets/java.jpg" alt="Java">
            <div class="hover-text">Java: Advanced</div>
        </div>
        <div class="image-container">
            <img src="../../../assets/python.jpeg" alt="Python">
            <div class="hover-text">Python: Intermediate</div>
        </div>
        <div class="image-container">
            <img src="../../../assets/angular.jpgf" alt="Angular">
            <div class="hover-text">Angular: Beginner</div>
        </div>  
        <div class="image-container">
            <img src="../../../assets/typescriot.png" alt="Typescript">
            <div class="hover-text">Typescript: Beginner</div>
        </div>
        <div class="image-container">
            <img src="../../../assets/cpp.png" alt="C++">
            <div class="hover-text">C++: Advanced</div>
        </div>
        <div class="image-container">
            <img src="../../../assets/javascript.png" alt="JavaScript">
            <div class="hover-text">JavaScript: Intermediate</div>
        </div>
        <div class="image-container">
            <img src="../../../assets/css.jpeg" alt="CSS">
            <div class="hover-text">CSS: Intermediate</div>
        </div>
        <div class="image-container">
            <img src="../../../assets/sql.png" alt="SQL">
            <div class="hover-text">SQL: Advanced</div>
        </div>
        <div class="image-container">
            <img src="../../../assets/mongodb.png" alt="MongoDB">
            <div class="hover-text">MongoDB: Intermediate</div>
        </div>
        <div class="image-container">
            <img src="../../../assets/git.png" alt="Git">
            <div class="hover-text">Git: Intermediate</div>
        </div>
        <div class="image-container">
            <img src="../../../assets/github.png" alt="GitHub">
            <div class="hover-text">GitHub: Intermediate</div>
        </div>
        <div class="image-container">
            <img src="../../../assets/jira.png" alt="JIRA">
            <div class="hover-text">JIRA: Beginner</div>
        </div>
        <div class="image-container">
            <img src="../../../assets/postman.png" alt="Postman">
            <div class="hover-text">Postman: Intermediate</div>
        </div>
        <div class="image-container">
            <img src="../../../assets/azure.png" alt="Azure">
            <div class="hover-text">Azure: Beginner</div>
        </div>
        <div class="image-container">
            <img src="../../../assets/aws.webp" alt="AWS">
            <div class="hover-text">AWS: Beginner</div>
        </div>
        <div class="image-container">
            <img src="../../../assets/cybersecurity.webp" alt="Cybersecurity">
            <div class="hover-text">Cybersecurity: Beginner</div>
        </div>
        <div class="image-container">
            <img src="../../../assets/sdlc.webp" alt="SDLC">
            <div class="hover-text">SDLC: Intermediate</div>
        </div>
        <div class="image-container">
            <img src="../../../assets/osdu.png" alt="OSDU">
            <div class="hover-text">OSDU: Advanced</div>
        </div>
    </div>

</body>
</html>
