.content {
    padding-top: 60px; /* Adjust according to your navbar height */
  }
  .home-background {
    background-image: url('../assets/Home.png'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

html {
  scroll-behavior: smooth;
}

.scroll-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Section Styling */
section {
  min-height: 100vh; /* Each section takes full screen height */
  width: 100%;
  padding: 50px 20px;
}
